
*{
    background: tomato;
    color: whitesmoke;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

input{
    background: salmon;
}

#title{
    text-align: center;
}

.recipe{
    width: 150px;
    height: 100px;
    background: salmon;
    border: 2px black solid;
}

.recipe *{
    text-align: center;
    background: salmon;
}