
*{
    background: tomato;
    color: whitesmoke;
}

select{
    width: auto;
    height: auto;
}
#startpage_nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

#user_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user_nav *{
    margin-right: 5px;
}

input{
    background: salmon;
}

#title{
    text-align: center;
}

.all_recipes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipe{
    width: 150px;
    height: auto;
    background: salmon;
    border: 2px black solid;
    margin: 10px;
}

.recipe *{
    text-align: center;
    background: salmon;
}

.genres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.genres *{
    margin: 0;
    margin-left: 5px;
}

.comment{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background: whitesmoke;
    height: auto;
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.comment *{
    display: inline-block;
    background: whitesmoke;
    color: black;
    margin: 2px;
}

#reg_log_input{
    width: 300px;
}